body, nav {
    transition: 0.2s ease-in-out;
}
body.bg-dark {
    color: lightgrey;
}
.gradient {
    background: linear-gradient(45deg, #7C4DFF, #536DFE);
    border-radius: 0;
    color: white;
}
.navbar-brand {
    color: #7C4DFF !important;
}
.navbar-brand .logo {
    margin: 0 5px;
    height: 30px;
    width: 30px;
    background-size: cover;
    background-position: center;
    background-image: url('../img/logo.png');
}
.navbar-dark .logo {
    background-image: url('../img/logo-white.png');
}
.btn-cta {
    border: 1.1px solid #536DFE;
    color: #536DFE !important;
    font-weight: 500;
}
.btn-cta:hover {
    background-color: #536DFE !important;
    color: white !important;
}
li a {
    transition: 0.2s ease-in-out;
}
li.active a, li a:hover {
    color: #536DFE !important;
}
li a.cta:hover {
    background-color: #536DFE;
    color: white !important;
}
.custom-control-input~.custom-control-label::before {
    background-color: transparent !important;
}
.custom-control-input:checked~.custom-control-label::before {
    background-color: #536DFE !important;
}
.card {
    background-color: transparent;
    padding: 15px;
}
ul.skills {
    padding: 0 2px;
    list-style-type: none;
    margin-bottom: 0;
}
ul.skills li {
    padding: 7px 10px;
    margin: 10px 7px;
    color: #7C4DFF;
    cursor: pointer;
}
ul.skills li span {
    display: none;
}
ul.skills li i {
    vertical-align: middle;
    font-size: 20px;
    margin-right: 20px;
}
ul.skills li .bar {
    height: 12px;
    width: 80%;
    background-color: rgba(150,150,150,0.2);
    display: inline-block;
    border-radius: 50px;
    vertical-align: middle;
}
ul.skills li .bar .fill {
    background: linear-gradient(45deg, #7C4DFF, #536DFE);
    height: 100%;
    border-radius: 50px;
}
.main > .row {
    margin: 50px 0;
}
.certs, .center {
    display: flex;
    justify-content: center;
}
.certs .card {
    margin: 10px;
    display: inline-block;
    padding: 15px 20px;
    background-color: rgba(170,170,170,0.05);
}
.certs .card a, h4 {
    display: inline-block;
    padding: 0;
    vertical-align: top;
}
.certs .card h4 {
    margin: 0;
    margin-right: 10px;
}
.certs .card span, p {
    padding: 10px 5px;
    margin: 0;
}
.certs .card a {
    color: #00E676;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}
.certs .card a:hover {
    color: #00C853;
}
.big-icon i {
    font-size: 200px;
    color: #536DFE;
}
h3 {
    color: #536DFE;
    font-weight: bold;
}
.stats {
    font-size: 20px;
    margin: 50px 0 !important;
}
.stats span {
    font-weight: bold;
    color: #536DFE;
}
.projects .small, .projects .large {
    margin: 15px 5px;
    background: linear-gradient(45deg, #7C4DFF, #536DFE);
}
